body{
  margin: 0px;
  background: #333;
  color: #fff;
  font-family: 'VT323', monospace;
  text-align: center;
}

#game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

canvas{
  border-radius: 10px;
}

#title{
  font-size: 75px;
  margin: 0px;
}