:root {
  --bs-body-bg: #333 !important;
  --bs-body-color: #fff!important;
  --bs-body-font-family: 'VT323', monospace !important;
  --bs-body-font-size: 25px !important;
}


body{
  text-align: center !important;
  font-size: var(--bs-body-font-size) !important;
}

canvas{
  border-radius: 10px;
}

#title{
  font-size: 75px;
  margin: 0px;
  color: #fff;
}

#game-chat{
  margin-left: 10px;
  position: relative;
}

#game-chat-2{
  height: 600px;
  background: #222;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #555;
  padding: 10px;
}

#game-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#chat-title{
  height: 60px;
  border-bottom: 1px #555 solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#chat-input{
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#chat-input-input{
  margin: 0px;
  /* padding: 10px; */
}

.form-control{
  font-size: var(--bs-body-font-size) !important;
}

.disableDiv {
  pointer-events: none;
}

#overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #222;
  border-radius: 10px;
  z-index: 10;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
  color: #e74c3c;
}

#chat-character-name{
  padding-left: 5px;
  margin: 0px;
}

.chat-character-dp{
  display: flex;
}

.chat{
  background: #fff;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  max-width: 300px;
  color: #000;
  line-height: 1;
  text-align: justify;
}

.chat-sent{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.chat-received{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#chat-body{
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-y: scroll;
  height: 100%;
  padding: 20px 0px 20px 0px;
}

#loading-div{
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: #222; */
  border-radius: 10px;
  z-index: 20;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  pointer-events: none;
}

#loading{
  display: none;
}